<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
			<main class="animate__animated animate__fadeIn">
				{{- block "main" . }}{{- end }}
			</main>
        </div>
        {{- partial "footer.html" . -}}
    </body>
	<script src="{{ `js/splitting.min.js` | relURL}}"></script>
	<script> 
		Splitting();
		
		const target = document.querySelectorAll('.target');
		const results = Splitting({ target: target, by: 'words' });
	</script>
</html>
